html {
	height: 100%;
}

body {
	background-color: #F2D4BC;
	width: auto;
}

#content {
	text-align: center;
	padding-top: 25%;
}

h1 {
	font-family: 'Lora', serif;
	font-weight: 700;
	font-size: 5em;
}

h3, h4 {
	font-family: 'Lora', serif;
	font-weight: 700;
}

hr {
	width: 400px;
}

.flex {
	display: flex;
  	flex-wrap: wrap;
}

.daysOfCode {
	text-align: center;
}

.about {
	text-align: center;
}

/*Delete later*/

.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn-bottom{
  top: 80%;
}

.content-text {
	color: white;
}

.content-title {
	color: white;
}